<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BankProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SbiRegistretion</display-name>
    <servlet-name>SbiRegistretion</servlet-name>
    <servlet-class>bank.com.SbiRegistretion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SbiRegistretion</servlet-name>
    <url-pattern>/sbi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSbi</display-name>
    <servlet-name>LoginSbi</servlet-name>
    <servlet-class>bank.com.LoginSbi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSbi</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deposite</display-name>
    <servlet-name>deposite</servlet-name>
    <servlet-class>bank.com.deposite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposite</servlet-name>
    <url-pattern>/depo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrowMony</display-name>
    <servlet-name>withdrowMony</servlet-name>
    <servlet-class>bank.com.withdrowMony</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrowMony</servlet-name>
    <url-pattern>/mony</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delecteAccount</display-name>
    <servlet-name>delecteAccount</servlet-name>
    <servlet-class>bank.com.delecteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delecteAccount</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheackBlance</display-name>
    <servlet-name>CheackBlance</servlet-name>
    <servlet-class>bank.com.CheackBlance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheackBlance</servlet-name>
    <url-pattern>/pin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>BankProject.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferMony</display-name>
    <servlet-name>TransferMony</servlet-name>
    <servlet-class>bank.com.TransferMony</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferMony</servlet-name>
    <url-pattern>/trans</url-pattern>
  </servlet-mapping>
</web-app>